
body {
    position: absolute;
    padding: 10px;
    width: 1000px;
    margin-right: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
}

.search {
    position: relative;
    display: block;
    margin-top: auto;
    margin-left: 260px;
    margin-right: auto;
    top: 109px;
}

.google-logo {
    position: static;
    display: block;
    width: 272px; 
    height: 90px;
    margin-left: 228px;
    margin-right: auto;
    margin-bottom: 20px;

}

.only-search {
    position: relative;
    display: flex;
}

.search-bar {
    display: block;
    height: 38.99px;
    width: 520px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(223, 225, 229);
    margin-left: 100px;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 30px;
    border-width: thin;
}

.magnifying {
    position: absolute;
    left: 110px;
    down: 100px;  
    top: 12px;
    width: 22px;
    height: 22px;  
    color: grey;
}

.mic {
    position: absolute;
    left: 585px;
    margin-bottom: -100px;
    padding-right: 100px;
    height: 26px;
    width: 28px;
    top: 8px;
    right: 1000px;
}

.buttons {
    position: absolute;
    left: 500px;
    top: 300px; 
}

.button-one {

    padding: 8px 16px 8px 16px; 
    background-color: #f2f2f2;
    border-size: 1px;
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 4px;
    font-family: arial;
    color: #5F6368;
    font-size: 14px;
    margin-right: 5px; 

}

.button-two {
    padding: 8px 16px 8px 16px; 
    background-color: #f2f2f2;
    border-size: 1px; 
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 4px;
    font-family: arial;
    color: #5F6368;
    font-size: 14px;
    margin-left: 5px; 
 
}
