
body {
    
    padding: 10px;
    width: 1000px;
    margin-right: 0px;
    position: static; 
    top: 0px;
    left: 0px;
    right: 0px;
}

.search {
    position: relative;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    top: 109px;
}

.google-logo {
    display: block;
    width: 272px; 
    height: 92px;
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    display: block;
    height: 33.99px;
    width: 520px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(223, 225, 229);
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border-width: thin;

}
